<h1 style="margin-bottom: 1em"><%= @question.title %></h1>
<p>
  <div class="panel panel-info">
    <div class="panel panel-heading">
      問題文
    </div>
    <div class="panel panel-body">
      <%= simple_format @question.body %>
    </div>
  </div>
</p>
<p>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      標準入出力(答え)
    </div>
    <div class="panel panel-body">
      <% @answers.each do |answer| %>
        <label>標準入力</label>
        <%= simple_format answer.input %>
        <label>標準出力</label>
        <%= simple_format answer.output %>
        <hr />
      <% end %>
    </div>
  </div>
</p>
<div class="actions">
  <%= link_to "問題追加", new_question_path, class: "btn btn-primary" %>
  <%= link_to "管理画面", admins_path, class: "btn btn-info" %>
  <%= link_to "編集", edit_question_path(@question), class: "btn btn-primary" %>
  <%= link_to "削除",
    question_path(@question),
    method: :delete,
    class: "btn btn-danger",
    data: {confirm: "本当に削除していいですか？"} %>
  <%= link_to "解答画面", lesson_path(@question), class: "btn btn-info" %>
</div>
