<%= link_to "問題追加", new_question_path, class: "btn btn-primary" %>
<%= link_to "問題追加のルール",
  'https://github.com/shiotomo/code-candy/wiki/%E5%95%8F%E9%A1%8C%E4%BD%9C%E6%88%90%E6%99%82%E3%81%AE%E3%83%AB%E3%83%BC%E3%83%AB',
  class: "btn btn-info",
  target: "_blank" %>
<div style="margin-top: 1em;"></div>
<table id="question-table" class="table table-bordered" width="100%">
  <thead>
    <tr>
      <td>問題名</td>
      <td>提出されたコード数</td>
      <td>詳細</td>
      <td>削除</td>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= link_to question.results.all.count, list_path(question) %></td>
        <td><%= link_to "詳細",
          question_path(question),
          class: "btn btn-info"
          %></td>
        <td><%= link_to "削除",
          question_path(question),
          method: :delete,
          class: "btn btn-danger",
          data: {confirm: "本当に削除していいですか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
