<div style="margin-top: 1em;"></div>
<table id="user-table" class="table table-bordered" width="100%">
  <thead>
    <tr>
      <td>ID</td>
      <td>アカウントID</td>
      <td>ユーザネーム</td>
      <td>コード実行数</td>
      <td>総問題解答数</td>
      <td>権限</td>
      <td>認証方法</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <% if user.provider != "google_oauth2" %>
          <td><%= link_to user.screen_name, user_path(user) %></td>
        <% else %>
          <td><%= link_to user.user_name, user_path(user) %></td>
        <% end %>
        <td><%= user.user_name %></td>
        <td><%= @code_counters[:"#{user.id}"] %></td>
        <td><%= @result_counters[:"#{user.id}"] %></td>
        <% if user.is_admin %>
          <td>管理者</td>
        <% else %>
          <td>ユーザ</td>
        <% end %>
        <td><%= user.provider %></td>
      </tr>
    <% end %>
  </tbody>
</table>
