<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script>
  jQuery(function($){
    $("#user-table").DataTable();
    $("#question-table").DataTable();
    $("#category-table").DataTable();
    $("#situation-table").DataTable();
  });
</script>

<h1>管理者画面</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#users" data-toggle="tab">ユーザ一覧</a></li>
  <li><a href="#questions" data-toggle="tab">問題一覧</a></li>
  <li><a href="#categories" data-toggle="tab">カテゴリー一覧</a></li>
  <li><a href="#situation" data-toggle="tab">解答状況</a></li>
  <li><a href="#analysis" data-toggle="tab">統計</a></li>
</ul>

<!-- ユーザ情報 -->
<div class="tab-content">
  <div class="tab-pane active" id="users">
    <%= render 'user' %>
  </div>

  <div class="tab-pane" id="questions">
    <%= render 'question' %>
  </div>

  <div class="tab-pane" id="categories">
    <%= render 'category' %>
  </div>

  <div class="tab-pane" id="situation">
    <%= render 'situation' %>
  </div>

  <div class="tab-pane" id="analysis">
    <%= render 'analysis' %>
  </div>
</div>
