<h1>管理者画面</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#users" data-toggle="tab">ユーザ一覧</a></li>
  <li><a href="#questions" data-toggle="tab">問題一覧</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="users">
    <table class="table">
      <thead>
        <tr>
          <td>アカウントID</td>
          <td>ユーザネーム</td>
          <td>権限</td>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.screen_name, admin_path(user) %></td>
            <td><%= user.user_name %></td>
            <% if user.is_admin %>
              <td>管理者</td>
            <% else %>
              <td>ユーザ</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="questions">
    <%= link_to "問題追加", new_question_path, class: "btn btn-primary" %>
    <%= link_to "問題追加のルール",
      'https://github.com/shiotomo/code-candy/wiki/%E5%95%8F%E9%A1%8C%E4%BD%9C%E6%88%90%E6%99%82%E3%81%AE%E3%83%AB%E3%83%BC%E3%83%AB',
      class: "btn btn-info",
      target: "_blank" %>
    <table class="table">
      <thead>
        <tr>
          <td>問題名</td>
          <td>提出されたコード数</td>
          <td>詳細</td>
          <td>削除</td>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= question.results.all.count %></td>
            <td><%= link_to "詳細",
              question_path(question),
              class: "btn btn-info"
              %></td>
            <td><%= link_to "削除",
              question_path(question),
              method: :delete,
              class: "btn btn-danger",
              data: {confirm: "本当に削除していいですか？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
