<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<h1><%= image_tag @user.image_url, size: '50x50' %><%= @user.screen_name %>さんの情報</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#result" data-toggle="tab">解答状況</a></li>
  <li><a href="#analysis" data-toggle="tab">統計</a></li>
  <li><a href="#heatmap" data-toggle="tab">利用状況</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="result">
    <p>
      <label>総コード提出数</label>
      <%= Result.where(user_id: @user.id).count %>
    </p>

    <table class="table">
      <thead>
        <tr>
          <td>問題名</td>
          <td>提出されたコード数</td>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.title, question_path(question) %></td>
            <td><%= link_to question.results.where(user_id: @user).count,
              answer_path(question, @user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="analysis">
    <div class="row" style="margin-top: 1em;">
      <div class="col-lg-6">
        <%= pie_chart @analysis %>
      </div>

      <div class="col-lg-6">
        <table class="table">
          <thead>
            <tr>
              <td>プログラミング言語</td>
              <td>提出数</td>
            </tr>
          </thead>
          <tbody>
            <% @analysis.each do |ana| %>
              <tr>
                <td><%= ana[0] %></td>
                <td><%= ana[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="heatmap">
    <div id="cal-heatmap" style="margin-top: 1em;"></div>
  </div>
</div>

<script>
const id = <%= User.friendly.find(params[:id]).id %>;
let cal = new CalHeatMap();
cal.init({
  domain: 'month',
  data: "/api/v1/heatmap/show/" + id,
  subdomain: 'day'
});
</script>
