<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li>
    <%= link_to 'Category', sections_path %>
  </li>
  <li>
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li class="active">
    <%= link_to 'Technical', technicals_path %>
  </li>
</ul>
<h1 style="text-align: center">Code Golf Ranking</h1>
<p style="text-align: center">誰よりもコードを短く記述できることを極めたい人に</p>
<ul>
  <% @questions.each do |question| %>
    <h3><li><%= link_to question.title, code_golf_ranking_path(question.id) %></li></h3>
  <% end %>
</ul>
