<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li>
    <%= link_to 'Category', sections_path %>
  </li>
  <li>
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li class="active">
    <%= link_to 'Technical', technicals_path %>
  </li>
</ul>

<h1 style="text-align: center">Code Golf Ranking</h1>
<h3 style="text-align: center">問題名: <%= link_to @question.title, lesson_path(@question) %></h3>

<% @ranking_hash.each do |key, value| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      言語: <%= key %>
    </div>
    <div class="panel-body">
      <label>文字数</label>
      <%= value.code.length %>
      <% if current_user.id == value.user_id %>
        <p style="color: green">このランキングのトップはあなたです。</p>
          <p>
            <%= sanitize markdown(value.code).html_safe %>
          </p>
      <% else %>
        <p>このランキングのトップはあなたではありません。</p>
      <% end %>
    </div>
  </div>
<% end %>
