<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script>
  jQuery(function($){
    $("#question-table").DataTable({
      // 検索機能 無効
      searching: false
    });
  });
</script>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'カテゴリー', sections_path %>
  </li>
  <li>
    <%= link_to '問題一覧', lessons_path %>
  </li>
</ul>
<h1 style="text-align: center">CodeCandyへようこそ</h1>
<!-- ここに使い方などを書いていく -->
<p style="text-align: center">
  CodeCandyでプログラミング力をアップさせよう!
</p>
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        プロフィール
      </div>
      <div class="panel panel-body">
        <%= image_tag current_user.image_url, size: '50x50' %>
        <h3><%= current_user.user_name %></h3>
        <h3><%= current_user.screen_name %></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="panel panel-success">
      <div class="panel panel-heading">
        解答ステータス
      </div>
      <div class="panel panel-body">
        <div id="cal-heatmap"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-info">
      <div class="panel panel-heading">
        あなたのステータス
      </div>
      <div class="panel panel-body">
        <div class="graph">
          <%= pie_chart @analysis %>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>プログラミング言語</th>
              <th>利用数</th>
            </tr>
          </thead>
          <tbody>
            <% @analysis.each do |ana| %>
              <tr>
                <td><%= ana[0] %></td>
                <td><%= ana[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-info">
      <div class="panel panel-heading">
        解答状況
      </div>
      <div class="panel panel-body">
        <table id="question-table" class="table table-bordered" width="100%">
          <thead>
            <tr>
              <th>問題名</th>
              <th>解答数</th>
            </tr>
          </thead>
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= link_to question.title, lesson_path(question) %></td>
                <td>
                  <%= link_to question.results.where(user_id: current_user.id).count, result_path(question) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'heatmap.js' %>
<%= stylesheet_link_tag 'heatmap.css' %>
