<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li class="active">
    <%= link_to 'Category', sections_path %>
  </li>
  <li>
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li>
    <%= link_to 'Technical', technicals_path %>
  </li>
</ul>
<div>
  <h1 style="text-align: center">カテゴリー</h1>
  <ul>
    <% @categories.each do |category| %>
      <h3><li><%= link_to category.title, section_path(category) %></li></h3>
    <% end %>
  </ul>
  <div style="text-align: center">
    <%= paginate @categories %>
  </div>
</div>
