<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li class="active">
    <%= link_to 'Category', sections_path %>
  </li>
  <li>
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li>
    <%= link_to 'Code golf ranking', code_golf_rankings_path %>
  </li>
</ul>
<h1 style="text-align: center"><%= @category.title %></h1>
<p style="text-align: center"><%= @category.comment %></p>
<hr />
<h4 style="text-align: center">問題数<%= @category.category_items.count %></h4>
<% @category.category_items.order(created_at: 'asc').each do |item| %>
  <ul>
    <h3>
      <li>
        <%= link_to Question.find(item.question_id).title,
          lesson_path(item.question_id)
        %>
      </li>
    </h3>
  </ul>
<% end %>
