<h1 style="text-align: center">提出コード</h1>
<h2 style="text-align: center"><%= @question.title %></h2>
<div class="panel panel-info">
  <div class="panel panel-heading">
    コード
  </div>
  <div class="panel panel-body">
    <p>
<%= sanitize markdown(@result.code).html_safe %>
    </p>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel panel-heading">
    詳細
  </div>
  <div class="panel panel-body">
    <p>
      <label>言語</label>
      <h4><%= @result.language %></h4>
    </p>
    <p>
      <label>解答結果</label>
      <% if @result.answer %>
        <p style="color: green">正解</p>
      <% else %>
        <p style="color: red">不正解</p>
      <% end %>
    </p>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel panel-heading">
    <label>問題</label>
  </div>
  <div class="panel panel-body">
    <%= simple_format @question.body %>
  </div>
</div>
</p>
<p>
  <div class="panel panel-default">
    <div class="panel panel-heading">
      標準入出力
    </div>
    <div class="panel panel-body">
      <label>標準入力</label>
      <%= simple_format @input %>
      <label>標準出力</label>
      <%= simple_format @output %>
    </div>
  </div>
