<h1 style="text-align: center">解答状況</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#questions" data-toggle="tab">問題一覧</a></li>
  <li><a href="#analysis" data-toggle="tab">統計</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="questions">
    <table class="table">
      <thead>
        <tr>
          <td>問題名</td>
          <td>解答数</td>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.title, result_path(question) %></td>
            <td><%= question.results.where(user_id: current_user.id).count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="analysis">
    <div class="row" style="margin-top: 1em;">
      <div class="col-lg-6">
        <%= pie_chart @analysis %>
      </div>

      <div class="col-lg-6">
        <table class="table">
          <thead>
            <tr>
              <td>プログラミング言語</td>
              <td>提出数</td>
            </tr>
          </thead>
          <tbody>
            <% @analysis.each do |ana| %>
              <tr>
                <td><%= ana[0] %></td>
                <td><%= ana[1] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
