<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script>
  jQuery(function($){
    $("#results-table").DataTable();
  });
</script>

<h1 style="text-align: center">解答状況</h1>
<div class="panel panel-default">
  <div class="panel panel-heading">
    <h4 style="text-align: center">
      <%= link_to @question.title, lesson_path(@question) %>
    </h4>
  </div>
  <div class="panel panel-body">
    <%= simple_format @question.body %>
  </div>
</div>
<table id="results-table" class="table table-bordered" width="100%">
  <thead>
    <tr>
      <th>使用言語</th>
      <th>解答結果</th>
      <th>解答時刻</th>
      <th>提出コード</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.language %></td>
        <% if result.answer %>
          <td style="color: green">正解</td>
        <% else %>
          <td style="color: red">不正解</td>
        <% end %>
        <td><%= result.created_at.in_time_zone('Tokyo') %></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#result<%= result.id %>">提出コード</button></td>
      </tr>

      <div class="modal fade" id="result<%= result.id %>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">提出コード</h4>
            </div>
            <div class="modal-body">
              <div>
                <h5>問題名: <%= result.question.title %></h5>
                <h5>実行言語: <%= result.language %></h5>
                <h5>
                  解答結果: 
                  <% if result.answer %>
                    <span style="color: green">正解</span>
                  <% else %>
                    <span style="color: red">不正解</span>
                  <% end %>
                </h5>
                <h5>提出時間: <%= result.created_at.in_time_zone('Tokyo') %></h5>
              </div>
              <p>
                <%= sanitize markdown(result.code).html_safe %>
              </p>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </tbody>
</table>
