<div class="row">
  <div class="col-lg-12">
    <button type="button" id="save_button" class="btn btn-primary">
      Save
    </button>
    <button type="button" id="load_button" class="btn btn-default">
      Load
    </button>
    <%= link_to 'Back',
      :back,
      class: 'btn btn-info pull-right' %>
  <input type="file" id="load_file" style="display: none">
  <!-- ace editor -->
  <div id="source_code" style="height: 550px; width: 100%"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <!-- 標準入出力 -->
    <h3>実行言語</h3>
    <select id="language" class="btn btn-default">
      <option value="Gcc" selected>C (gcc)</option>
      <option value="Clang">C (clang)</option>
      <option value="CPP">C++</option>
      <option value="Ruby">Ruby</option>
      <option value="Python3">Python3</option>
      <option value="Golang">Go</option>
      <option value="Nodejs">Node.js</option>
      <option value="Java">Java</option>
      <option value="Scala">Scala</option>
      <option value="Swift">Swift</option>
      <option value="PHP">PHP</option>
      <option value="Perl">Perl</option>
      <option value="Bash">Bash</option>
      <option value="Lua">Lua</option>
    </select>
    <h3>標準入力</h3>
    <textarea name="input" id="input" class="form-control" rows="10"></textarea>
  </div>

  <div class="col-lg-6">
    <button type="button" id="run_button" class="btn btn-primary" style="margin-top:1em">
      実行
    </button>

    <ul class="nav nav-tabs" style="margin-top:1em">
      <li class="active">
        <a href="#Stdout" data-toggle="tab">
          実行結果
        </a>
      </li>
      <li>
        <a href="#Stderr" data-toggle="tab">
          終了コード: <strong><span id="exit_code"></span></strong>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="Stdout">
        <h3>標準出力</h3>
        <pre>
    <div id="stdout"></div>
        </pre>
        <h4>実行時間</h4>
        <pre>
    <div id="time"></div>
        </pre>
      </div>
      <div class="tab-pane" id="Stderr">
        <h4>終了コード</h4>
        <pre>
    <div id="exit_code"></div>
        </pre>
        <h4>エラーメッセージ</h4>
        <pre>
    <div id="stderr"></div>
        </pre>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js'%>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js'%>
<%= javascript_include_tag 'ui.js' %>
<%= javascript_include_tag 'run.js' %>
