<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li>
    <%= link_to 'Category', sections_path %>
  </li>
  <li class="active">
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li>
    <%= link_to 'Technical', technicals_path %>
  </li>
</ul>
<div>
  <h1 style="text-align: center">問題一覧</h1>
  <ul>
    <% @questions.each do |question| %>
      <h3><li><%= link_to question.title, lesson_path(question) %></li></h3>
    <% end %>
  </ul>
  <div style="text-align: center">
    <%= paginate @questions %>
  </div>
</div>
