<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'カテゴリー', sections_path %>
  </li>
  <li class="active">
    <%= link_to '問題一覧', lessons_path %>
  </li>
  <li>
    <%= link_to 'Code golf ranking', code_golf_rankings_path %>
  </li>
</ul>
<div>
  <h1 style="text-align: center">問題一覧</h1>
  <ul>
    <% @questions.each do |question| %>
      <li><h3><%= link_to question.title, lesson_path(question) %></h3></li>
    <% end %>
  </ul>
  <div style="text-align: center">
    <%= paginate @questions %>
  </div>
</div>
