<ul class="nav nav-tabs">
  <li>
    <%= link_to 'TOP', tops_path %>
  </li>
  <li>
    <%= link_to 'Editor', editors_path %>
  </li>
  <li>
    <%= link_to 'Category', sections_path %>
  </li>
  <li class="active">
    <%= link_to 'Questions list', lessons_path %>
  </li>
  <li>
    <%= link_to 'Code golf ranking', code_golf_rankings_path %>
  </li>
</ul>
<br />
<h1><%= @question.title %></h1>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-info">
      <div class="panel panel-heading">
        <label>問題</label>
      </div>
      <div class="panel panel-body">
        <%= simple_format @question.body %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel panel-heading">
        標準入出力
      </div>
      <div class="panel panel-body">
        <label>標準入力</label>
        <%= simple_format @input %>
        <label>標準出力</label>
        <%= simple_format @output %>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <button type="button" id="save_button" class="btn btn-primary">
      Save
    </button>
    <button type="button" id="load_button" class="btn btn-default">
      Load
    </button>
    <input type="file" id="load_file" style="display: none">
    <%= link_to 'Back',
      :back,
      class: 'btn btn-info pull-right' %>

    <!-- ace editor -->
    <div id="source_code" style="height: 450px; width: 100%"></div>

    <div class="row">
      <div class="col-lg-5">
        <!-- 標準入出力 -->
        <h3>実行言語</h3>
        <select id="language" class="btn btn-default">
          <option value="Gcc" selected>C (gcc)</option>
          <option value="Clang">C (clang)</option>
          <option value="CPP">C++</option>
          <option value="Ruby">Ruby</option>
          <option value="Python3">Python3</option>
          <option value="Golang">Go</option>
          <option value="Nodejs">Node.js</option>
          <option value="Java">Java</option>
          <option value="Scala">Scala</option>
          <option value="Swift">Swift</option>
          <option value="PHP">PHP</option>
          <option value="Perl">Perl</option>
          <option value="Bash">Bash</option>
          <option value="Lua">Lua</option>
          <option value="Haskell">Haskell</option>
          <option value="Pascal">Pascal</option>
        </select>
        <h3>標準入力</h3>
        <textarea name="input" id="input" class="form-control" rows="10"></textarea>
      </div>

      <div class="col-lg-7">
        <button type="button" id="run_button" class="btn btn-primary" style="margin-top:1em">
          実行
        </button>
        <input type="hidden" id="answer_id" value="<%= @question.id %>">
        <button type="button" id="judge_button" class="btn btn-default" style="margin-top:1em">
          解答
        </button>

        <ul class="nav nav-tabs" style="margin-top:1em">
          <li class="active">
            <a href="#Stdout" data-toggle="tab">
              実行結果
            </a>
          </li>
          <li>
            <a href="#Stderr" data-toggle="tab">
              終了コード: <strong><span id="exit_code"></span></strong>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="Stdout">
            <h3>標準出力</h3>
            <pre>
              <div id="stdout"></div>
            </pre>
            <h4>実行時間</h4>
            <pre>
              <div id="time"></div>
            </pre>
            <h3 style="color: gray"><b>解答結果</b></h3>
            <pre>
              <div id="answer"></div>
            </pre>
          </div>
          <div class="tab-pane" id="Stderr">
            <h4>終了コード</h4>
            <pre>
              <div id="exit_code"></div>
            </pre>
            <h4>エラーメッセージ</h4>
            <pre>
              <div id="stderr"></div>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js'%>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ext-language_tools.js'%>
<%= javascript_include_tag 'ui.js' %>
<%= javascript_include_tag 'run.js' %>
